---
import BlogPostLink from '@components/BlogPostLink.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import BackButton from '@components/BackButton.astro'
import { splitPostsByDate, MonthNames } from '@utils/dateUtils'

import { getCollection } from 'astro:content'
const allPosts = await getCollection('blog')
const structuredPosts = splitPostsByDate(allPosts)
const collator = new Intl.Collator([], { numeric: true })
---

<BaseLayout>
  <BackButton to='/' />
  <h1 id='page-name'>Blog</h1>
  {
    Object.keys(structuredPosts)
      .sort((a, b) => collator.compare(a, b))
      .reverse()
      .map((year) => {
        const yearlyPosts = structuredPosts[Number(year)]
        return Object.keys(yearlyPosts)
          .sort((a, b) => collator.compare(a, b))
          .reverse()
          .map((month) => (
            <div class='monthly-posts'>
              <h2>{MonthNames[Number(month)] + ' ' + year}</h2>
              <ul>
                {yearlyPosts[Number(month)].map((post) => (
                  <li>
                    <BlogPostLink urlPrefix='/blog' post={post} />
                  </li>
                ))}
              </ul>
            </div>
          ))
      })
  }
</BaseLayout>

<style lang='scss'>
  #page-name {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--accent-600);
    line-height: 1;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 0.75rem;
  }

  li:last-child {
    margin-bottom: 0;
  }

  .monthly-posts {
    > h2 {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 0.75rem;
    }
  }

  :global(.dark) .monthly-posts > h2 {
    color: var(--grey-100);
  }
</style>
