---
import IndexButton from '@components/IndexButton.astro'
import SocialButton from '@components/SocialButton.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
  <div id='quote'>
    <h3>Reinforcement Learning & Causality.</h3>
    <h4>Sometimes Language Modelling and Bioinformatics.</h4>
  </div>
  <ul id='index-buttons'>
    <li><IndexButton href='/blog' bg='light' icon='blog'>Blog</IndexButton></li>
    <li>
      <IndexButton
        href='https://scholar.google.com/citations?user=H0FOMNcAAAAJ&hl=en'
        bg='medium'
        icon='gscholar'
      >
        Papers
      </IndexButton>
    </li>
    <li>
      <IndexButton
        href='https://github.com/evangelos-ch'
        bg='dark'
        icon='github'
      >
        Code
      </IndexButton>
    </li>
  </ul>
  <ul id='social-buttons'>
    <li><SocialButton type='x' /></li>
    <li><SocialButton type='linkedin' /></li>
  </ul>
</BaseLayout>

<style lang='scss'>
  #quote {
    text-align: center;

    h3,
    h4 {
      margin: 0;
      display: block;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
    }

    h3 {
      color: var(--grey-900);
      font-size: 1.5rem;
    }

    h4 {
      color: var(--grey-600);
      font-size: 1.25rem;
    }
  }

  :global(.dark) #quote h4 {
    color: var(--grey-400);
  }

  :global(.dark) #quote h3 {
    color: var(--grey-100);
  }

  #index-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  #social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
</style>
