---
import type { IconType } from '@utils/icons'
import type { HTMLAttributes } from 'astro/types'
import Icon from '@components/Icon.astro'
interface Props extends HTMLAttributes<'a'> {
  bg?: 'light' | 'medium' | 'dark'
  icon?: IconType
}
const { href, icon, bg = 'medium', ...attrs } = Astro.props
---

<a href={href} class:list={['index-btn', bg]} {...attrs} rel='prefetch'>
  {icon && <Icon type={icon} height='1.5rem' fill='var(--grey-300)' />}
  <span class='index-btn__text'><slot /></span>
</a>

<style lang='scss'>
  .index-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--grey-100);
    width: 24rem;
    font-family: 'DM Mono', monospace;
    font-size: 1.5rem;
    padding: 1rem 0;
    transition: 0.5s ease-in-out;
    background: linear-gradient(
        190deg,
        var(--btn-grad-color2, var(--accent-500)) 0%,
        var(--btn-grad-color1, var(--accent-600)) 75%
      )
      var(--x, 0) / 200%;

    &:hover {
      --x: 100%;
    }

    &.medium {
      --btn-grad-color1: var(--accent-700);
      --btn-grad-color2: var(--accent-600);
    }

    &.dark {
      --btn-grad-color1: var(--accent-800);
      --btn-grad-color2: var(--accent-600);
    }
  }
</style>
