<button id='themeToggle'>
  <svg
    id='sun-icn'
    version='1.1'
    xmlns='http://www.w3.org/2000/svg'
    xmlns:xlink='http://www.w3.org/1999/xlink'
    viewBox='0 0 512 512'
    xml:space='preserve'
  >
    <g>
      <rect
        x='238.136'
        y='14.497'
        style='fill:#FFAC12;'
        width='35.718'
        height='93.874'></rect>

      <rect
        x='40.561'
        y='140.86'
        transform='matrix(-0.866 -0.5 0.5 -0.866 83.9101 339.9203)'
        style='fill:#FFAC12;'
        width='93.872'
        height='35.717'></rect>

      <rect
        x='69.648'
        y='306.35'
        transform='matrix(-0.5 -0.866 0.866 -0.5 -174.6919 605.7155)'
        style='fill:#FFAC12;'
        width='35.717'
        height='93.872'></rect>
      <rect
        x='238.136'
        y='403.629'
        style='fill:#FFAC12;'
        width='35.718'
        height='93.874'></rect>
    </g>
    <g>
      <rect
        x='377.548'
        y='335.419'
        transform='matrix(-0.866 -0.5 0.5 -0.866 615.4531 871.4692)'
        style='fill:#D89210;'
        width='93.872'
        height='35.717'></rect>

      <rect
        x='406.645'
        y='111.772'
        transform='matrix(-0.5 -0.866 0.866 -0.5 499.315 605.6918)'
        style='fill:#D89210;'
        width='35.717'
        height='93.872'></rect>
    </g>
    <rect
      x='144.766'
      y='88.686'
      transform='matrix(-0.5 -0.866 0.866 -0.5 162.3096 306.7978)'
      style='fill:#F9D026;'
      width='49.904'
      height='35.717'></rect>
    <g>
      <rect
        x='356.305'
        y='443.842'
        transform='matrix(-0.5 -0.866 0.866 -0.5 162.3266 1017.1188)'
        style='fill:#E7C224;'
        width='36.941'
        height='35.717'></rect>
      <rect
        x='475.058'
        y='238.141'
        style='fill:#E7C224;'
        width='36.942'
        height='35.718'></rect>

      <rect
        x='356.896'
        y='31.826'
        transform='matrix(-0.866 -0.5 0.5 -0.866 674.1501 281.2362)'
        style='fill:#E7C224;'
        width='35.717'
        height='36.941'></rect>
    </g>
    <g>
      <rect
        x='118.765'
        y='32.43'
        transform='matrix(-0.5 -0.866 0.866 -0.5 162.3037 194.2814)'
        style='fill:#F9D026;'
        width='36.941'
        height='35.717'></rect>
      <rect y='238.141' style='fill:#F9D026;' width='36.942' height='35.718'
      ></rect>

      <rect
        x='119.375'
        y='443.229'
        transform='matrix(-0.866 -0.5 0.5 -0.866 25.2259 930.1587)'
        style='fill:#F9D026;'
        width='35.717'
        height='36.941'></rect>
      <rect
        x='58.468'
        y='238.141'
        style='fill:#F9D026;'
        width='49.904'
        height='35.718'></rect>

      <rect
        x='151.852'
        y='380.501'
        transform='matrix(-0.866 -0.5 0.5 -0.866 113.9514 841.441)'
        style='fill:#F9D026;'
        width='35.717'
        height='49.904'></rect>
    </g>
    <g>
      <rect
        x='317.355'
        y='387.603'
        transform='matrix(-0.5 -0.866 0.866 -0.5 162.3276 904.6423)'
        style='fill:#E7C224;'
        width='49.904'
        height='35.717'></rect>
      <rect
        x='403.623'
        y='238.141'
        style='fill:#E7C224;'
        width='49.904'
        height='35.718'></rect>

      <rect
        x='324.422'
        y='81.588'
        transform='matrix(-0.866 -0.5 0.5 -0.866 585.4301 369.95)'
        style='fill:#E7C224;'
        width='35.717'
        height='49.904'></rect>
    </g>
    <path
      style='fill:#F9D026;'
      d='M256,421.492c-91.25,0-165.486-74.237-165.486-165.486S164.75,90.519,256,90.519
	s165.486,74.237,165.486,165.486S347.25,421.492,256,421.492z'
    ></path>
    <g>
      <rect
        x='256'
        y='14.497'
        style='fill:#D89210;'
        width='17.864'
        height='93.874'></rect>
      <rect
        x='256'
        y='403.629'
        style='fill:#D89210;'
        width='17.864'
        height='93.874'></rect>
    </g>
    <path
      style='fill:#E7C224;'
      d='M256,90.519c91.25,0,165.486,74.237,165.486,165.486S347.25,421.492,256,421.492V90.519z'
    ></path>
  </svg>
  <svg
    id='moon-icn'
    version='1.1'
    xmlns='http://www.w3.org/2000/svg'
    xmlns:xlink='http://www.w3.org/1999/xlink'
    viewBox='0 0 512 512'
    xml:space='preserve'
  >
    <circle style='fill:#D8D9DD;' cx='255.999' cy='255.998' r='255.998'
    ></circle>
    <path
      style='fill:#B7B9C0;'
      d='M255.999,0c141.385,0,256.001,114.617,256.001,256.002S397.385,512,255.999,512
	C255.999,308.381,255.999,142.181,255.999,0z'
    ></path>
    <circle style='fill:#9B9DA6;' cx='352.11' cy='138.239' r='33.215'></circle>
    <g>
      <circle style='fill:#B7B9C0;' cx='96.901' cy='236.309' r='33.215'
      ></circle>
      <path
        style='fill:#B7B9C0;'
        d='M175.665,105.026c43.503,0,78.768-35.265,78.768-78.768c0-9.179-1.575-17.989-4.461-26.18
		c-55.835,1.29-107.242,20.464-148.738,52.007C111.926,82.901,141.209,105.026,175.665,105.026z'
      ></path>
    </g>
    <path
      style='fill:#9B9DA6;'
      d='M477.976,248.646c-58.614,0-106.13,47.517-106.13,106.13c0,39.748,21.853,74.384,54.197,92.569
	c52.728-46.891,85.956-115.233,85.956-191.345l0,0C511.998,255.403,489.872,248.646,477.976,248.646z'
    ></path>
    <path
      style='fill:#B7B9C0;'
      d='M256,339.397c-9.757-8.666-22.596-13.937-36.672-13.937c-30.517,0-55.258,24.739-55.258,55.257
	c0,30.517,24.739,55.257,55.258,55.257c14.075,0,26.914-5.271,36.672-13.937c11.396-10.122,18.585-24.878,18.585-41.319
	C274.585,364.276,267.397,349.519,256,339.397z'
    ></path>
    <path
      style='fill:#9B9DA6;'
      d='M256,339.397v82.64c11.396-10.122,18.585-24.878,18.585-41.319
	C274.585,364.276,267.397,349.519,256,339.397z'
    ></path>
  </svg>
</button>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }

  window.localStorage.setItem('theme', theme)

  const handleToggleClick = () => {
    const element = document.documentElement
    element.classList.toggle('dark')

    const isDark = element.classList.contains('dark')
    localStorage.setItem('theme', isDark ? 'dark' : 'light')
  }

  document
    .getElementById('themeToggle')
    .addEventListener('click', handleToggleClick)
</script>

<style>
  #themeToggle {
    border: 0;
    background: none;
    z-index: 999;
    height: 2.25rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
  }

  #themeToggle:hover {
    filter: brightness(1.2);
  }
  #sun-icn {
    display: inline-block;
    /* width: 2.25rem; */
    height: 2.25rem;
  }
  #moon-icn {
    display: none;
    /* width: 2.25rem; */
    height: 2.25rem;
  }

  :global(.dark) #sun-icn {
    display: none;
  }
  :global(.dark) #moon-icn {
    display: inline-block;
  }
</style>
