---
import BackButton from '@components/BackButton.astro'
import Skeleton from '@layouts/Skeleton.astro'
import Navbar from '@components/Navbar.astro'

const { frontmatter } = Astro.props
const shortDate = frontmatter.pubDate.slice(0, 10)
---

<Skeleton>
  <Navbar />
  <div id='container'>
    <div id='header-container'>
      <section id='header'>
        <div
          id='header__post-name'
          class:list={['post-name', frontmatter.type]}
        >
          <h1>{frontmatter.title}</h1>
          <div class='subtitle'>
            <hr />
            <time id='header__post-date' data-pubDate={frontmatter.pubDate}
              >{shortDate}</time
            >
          </div>
        </div>
      </section>
    </div>
    <section id='content-container'>
      <div id='content'>
        <BackButton to='/blog' />
        <div id='post-content'>
          <slot />
        </div>
      </div>
    </section>
  </div>
</Skeleton>

<script>
  import { relativeDate } from '@utils/dateUtils'
  const postDate = document.getElementById('header__post-date')
  // For some reason this gets hoisted into the script containing relativeDate lmao?
  // So need to make sure this code will run on any page that might use relativeDate.
  if (postDate) {
    postDate.innerText = relativeDate(postDate.getAttribute('data-pubDate')!)
  }
</script>

<style lang='scss'>
  #container {
    height: 100vh;
    width: 100%;
    background-image: var(--dark-gradient);
  }

  #header-container {
    height: 50vh;
    position: relative;
  }

  #header {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    z-index: 3;
    transition: 0.35s ease-in-out;

    &.scrolled {
      #header__post-name {
        transform: translate(-13%, 420%);

        > h1 {
          color: black;
        }
        time {
          color: var(--grey-600);
        }
      }
    }
  }

  :global(.dark) #post-content {
    color: var(--grey-100);
  }

  :global(.dark) #header.scrolled #header__post-name {
    > h1 {
      color: white;
    }

    time {
      color: var(--primary-300);
    }
  }

  .post-name {
    display: flex;
    flex-direction: column;
    gap: 0;

    &.science {
      --line-colour: var(--support-1-500);
    }

    &.engineering {
      --line-colour: var(--support-2-500);
    }

    &.industry {
      --line-colour: var(--accent-500);
    }

    h1 {
      display: inline-block;
      line-height: 1;
      font-family: 'Overpass', sans-serif;
      font-size: 3rem;
      color: var(--grey-100);
      margin: 0;
    }

    .subtitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    hr {
      border: none;
      width: 384px;
      height: 6px;
      background-color: var(--line-colour, var(--accent-600));
    }

    time {
      line-height: 1;
      font-family: 'DM Mono', monospace;
      font-weight: 500;
      font-size: 0.75rem;
      color: var(--primary-300);
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
  }

  #content-container {
    position: relative;
    min-height: 50vh;
    z-index: 2;
    padding-top: 96px;
    padding-bottom: 103px;
    overflow-y: visible;
    overflow-x: clip;

    &.no-bg {
      padding-top: 250px;

      &:before {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-height: 50vh;
      width: 100%;
      background-color: var(--bg);
      z-index: -1;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      transform: scaleX(1.35) rotateX(180deg);
      box-shadow: 0 0 60px var(--primary-400);
      clip-path: inset(0 0 -50vh 0);
      transition:
        0.35s ease-in-out,
        background-color 0.2s ease-in-out;
    }
  }

  #content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    width: 768px;
    margin: 0 auto;
    padding: 0 3rem;
  }
</style>
